@page "/Detalles/Editar/{id:int}"
@using BlazorApp1.Data
@inject DetallesService DetallesService
@inject RecursosService RecursosService
@inject TareasService TareasService
@inject NavigationManager navigation


<EditForm Model="@Modelo" OnValidSubmit="@Guardar">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <h3 class="my-4">Detalle</h3>
    <div class="container">
        <div>
            <div class="mb-3">
                Fecha:
                <InputDate @bind-Value="Modelo.Fecha" />
            </div>
            <div class="mb-3">
                Tiempo:
                <InputNumber @bind-Value="Modelo.Tiempo" />
            </div>
            <div class="mb-3">
                Recurso:
                <InputSelect class="p-1" @bind-Value="RecursosId">
                    <option value="0">Elija un Recurso</option>
                    @foreach (var item in Recursos)
                    {
                        <option value="@item.Id">@item.Nombre</option>
                    }
                </InputSelect>
            </div>
            <div class="mb-3">
                Tarea:
                <InputSelect class="p-1" @bind-Value="TareasId">
                    <option value="0">Elija un Recurso</option>
                    @foreach (var item in Tareas)
                    {
                        <option value="@item.Id">@item.Titulo</option>
                    }
                </InputSelect>
            </div>
            <button class="btn btn-primary my-3" type="submit">Guardar</button>
        </div>
    </div>
</EditForm>

@code {
    [Parameter]
    public int Id { get; set; }

    public Detalles Modelo { get; set; } = new Detalles();

    public string RecursosId { get; set; }

    private List<Recursos> Recursos = new List<Recursos>();

    public string TareasId { get; set; }

    private List<Tareas> Tareas = new List<Tareas>();

    protected override async Task OnInitializedAsync()
    {
        if (Id > 0)
        {
            Modelo = await DetallesService.SelectDetail(Id);
            RecursosId = Modelo.RecursosId.ToString();
            TareasId = Modelo.TareasId.ToString();
        }
        else
        {
            Modelo = new Detalles();
        }
        Recursos = await RecursosService.ListResource();
        Tareas = await TareasService.ListTask();
    }


    private async void Guardar()
    {
        Modelo.RecursosId = int.Parse(RecursosId);
        Modelo.TareasId = int.Parse(TareasId);
        await DetallesService.SaveDetail(Modelo);
        navigation.NavigateTo("Detalles/ListadoDetalles");
    }
}