@page "/Detalles/ListadoDetalles"
@using BlazorApp1.Data
@inject DetallesService DetallesService
@inject NavigationManager navigation
@inject IJSRuntime JsRuntime


<h3>Listado Detalles</h3>

<p>Visualizador de los Detalles</p>


<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Fecha</th>
            <th>Tiempo</th>
            <th>RecursoId</th>
            <th>Tarea</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var detail in detalles)
        {
            <tr>
                <td>@detail.Id</td>
                <td>@detail.Fecha</td>
                <td>@detail.Tiempo</td>
                <td>@detail.Recurso.Id</td>
                <td>@detail.Tarea.Titulo</td>
            </tr>
        }
    </tbody>
</table>

@code {
    private List<BlazorApp1.Data.Detalles> detalles;

    protected override async Task OnInitializedAsync()
    {
        detalles = await DetallesService.ListDetail();
    }

    protected void Editar(int id)
    {
        navigation.NavigateTo("Detalles/Editar/" + id);
    }

    async Task Borrar(int id)
    {
        bool confirmed = await JsRuntime.InvokeAsync<bool>("confirm", "Desea elimiar la Detalle?");
        if (confirmed)
        {
            await DetallesService.DeleteDetail(id);
            detalles = await DetallesService.ListDetail();
        }
    }
}